body {
  margin: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(200, 200, 200);
}

.MainTemplate {
  display: grid;
  grid-template-rows: 1fr 13fr 1fr;

  width: 336px;
  height: 720px;

  background-color: white;
  border-radius: 16px;
}

.Header {
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(200, 200, 200);
}

.HeaderButtons {
  display: flex;
  gap: 16px;
}

.HeaderButton {
  display: flex;
  align-items: center;
}

.Navigation {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-top: 1px solid rgba(200, 200, 200);
}

.NavigationMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NavigationIcon {
  font-size: large;
}

.NavigationName {
  font-size: small;
}

.ProductList {
  display: grid;
  grid-auto-rows: 120px;
  overflow: scroll;
  padding: 8px;
}

.ProductItem {
  display: grid;
  grid-template-columns: 88px 1fr;
  align-items: center;
}

.ProductItem:not(:last-child) {
  border-bottom: 1px solid rgba(200, 200, 200);
}

.ProductThumbnail {
  width: 88px;
  height: 88px;
  border-radius: 8px;
}

.ProductInfo {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.ProductInfo > * {
  margin-bottom: 4px;
}

.ProductTitle {
  font-size: 16px;
  font-weight: normal;
}

.ProductLocationAndUpdateAt {
  font-size: 12px;
  color: gray;
}

.ProductPrice {
  font-size: 14px;
  font-weight: bold;
}

.ProductInteractions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 16px;

  margin-top: 4px;
  gap: 4px;

  color: gray;
}

.ProductLike {
  display: flex;
}

.ProductChat {
  display: flex;
}

.CustomLink,
.CustomLink:focus,
.CustomLink:hover,
.CustomLink:visited,
.CustomLink:link,
.CustomLink:active {
  text-decoration: none;
  color: black;
}
